<!DOCTYPE html>
<html>
  <head>


    <title>AppMovie</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= Gon::Base.render_data %>
  </head>

  <body style="sbackground: darkgray;">
    <div class="container">
          	<p class="notice"><%= notice %></p>
               <p class="alert"><%= alert %></p>
                <div class= "row">
            <div class="header" style="border-color: #3333;">MOVIE STORE</div>
          </div>
          <div class="row">
            <nav class="navbar navbar-inverse" style=" margin-bottom: 0px;">
              <div class="container-fluid">
                <div class="nav_bar">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="/movies">Movie Store</a>
                  </div>
                  <ul class="nav navbar-nav">
                    <li class="active">
                      <a href="/movies">Home</a>
                    </li>
                    <%if current_admin_user%>
                    <li><a href=/movies/new>Add Movie</a></li>
                    <li><%=link_to 'ADMIN SIGN IN', new_admin_user_session_path%></li>
                      <li><%=link_to 'admin_sign_out', destroy_admin_user_session_path, method: :DELETE%></li>
                    <%end%>
                    <li>
                      <%= form_tag detail_movies_path, :method => 'get',class: "navbar-form navbar-left" do %>
                          <div class="form-group">
                          <%= text_field_tag :search, params[:search],class:"form-control",placeholder: "Find Movies" %>
                          </div>
                         <%= submit_tag "Search", :name => nil,class: "btn btn-default" %>
                      <% end %>
                    </li>
                    
                  </ul><ul class="nav navbar-nav" style="float: right"> 
                     <li>
                                <div>
                                    <div class="dropdown">
                                         <button class="btn btn-primary dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" style="background: #101010;
                                         padding-bottom: 14px;
                                         border-color: #101010;
                                         padding-top: 14px;" , 
                                         aria-expanded="false">
                                         <% if current_user%>
                                              <%= current_user.email%>
                                         
                                           <%elsif current_admin_user%>
                                              <%=current_admin_user.email%>
                                           <%else%>
                                           Account
                                         <%end%> <span class="caret"></span></button>
                                         <ul class="dropdown-menu" role="menu" >
                                           <li role="presentation"><a role="menuitem" tabindex="-1" href="#">
                                                <% if user_signed_in? %>
                                             <li><%= link_to 'ACCOUNT' , edit_user_registration_path%></li>            
                                           <li><%=link_to 'LOG OUT', destroy_user_session_path, method: :DELETE%></li>
                                           <% else %>
                       

                                    <li><a href="users/sign_in">LOGIN</a></li>
                                         <%end%>
                                             </a></li>
                                           <li role="presentation"><a role="menuitem" tabindex="-1" href="#">SETTING</a></li>
                                           <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><% if user_signed_in? %>
                                           
                                             
                                       
                                        
                                       <% else %>

                                         <% end %></li>
                                           <li role="presentation" class="divider"></li>
                                           <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
                                         </ul>
                                       </div>
                                     </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </nav>
          </div>
      </div>
    <%= yield %>
    <div class="container">
<div class="row" style="background: #333333;">
    <footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-4" style="padding-left: 50px;">
                <h2>MOVIE STORE</h2>
            </div>
            <div class="col-sm-4" style="padding-left: 50px;">
                <h5>Get started</h5>
                <ul style="text-decoration: none">
                    <li style="text-decoration: none"><a href="/">Home</a></li>
                    <li><a href="/users/sign_up">Sign up</a></li>
                    <li><a href="#">Downloads</a></li>
                </ul>
            </div>

            <div class="col-sm-3" style="padding-left: 50px;padding-top: 28px;">
                <div class="social-networks">
                    <a href="https://twitter.com/niri4" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/niri4" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://plus.google.com/116609894960334238811" class="google" target="_blank"><i class="fa fa-google-plus"></i></a>
                </div>
                <button type="button" class="btn btn-default">Contact us</button>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2017 Movie Store </p>
    </div>
</footer>   
  </div>
</div>
  </body>
</html>


<script type="text/javascript" src="js/bootstrap/bootstrap-dropdown.js"></script>
<script>
     $(document).ready(function(){
        $('.dropdown-toggle').dropdown()
    });
</script>